body{
    background: #e7e7de;
   padding: 10px 50px;
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
h1{
    color: #0f3057;
    text-align: center;
}
p{
    color: #008891;text-align: left;
}